Given the following objects below, which of these can we build list comprehensions over?

In [1]:
doctor = ['house', 'cuddy', 'chase', 'thirteen', 'wilson']

range(50)

underwood = 'After all, we are nothing more or less than what we choose to reveal.'

jean = '24601'

flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']

valjean = 24601

In [2]:
for word in doctor:
    print(word)

house
cuddy
chase
thirteen
wilson

In [3]:
for value in range(50):
    print value

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [4]:
for word in underwood:
    print(word)

A
f
t
e
r

a
l
l
,

w
e

a
r
e

n
o
t
h
i
n
g

m
o
r
e

o
r

l
e
s
s

t
h
a
n

w
h
a
t

w
e

c
h
o
o
s
e

t
o

r
e
v
e
a
l
.

In [5]:
for word in jean:
    print(word)

2
4
6
0
1

In [6]:
for word in flash:
    print(word)

jay garrick
barry allen
wally west
bart allen

In [7]:
for word in valjean:
    print(word)

TypeError: 'int' object is not iterable

In [8]:
type(valjean)

int

In [9]:
type(flash)

list

In [11]:
doctor = ['house', 'cuddy', 'chase', 'thirteen', 'wilson']

In [12]:
[doc[0] for doc in doctor]

['h', 'c', 'c', 't', 'w']

In [13]:
# Create list comprehension: squares
squares = [i**2 for i in range(0,10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
# Create list comprehension: squares
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
# Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(5)] for row in range(5)]

# Print the matrix
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [16]:
type(matrix)

list

In [32]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Print the new list
print(fellowship)

# Create list comprehension: new_fellowship create a list that only includes the members of fellowship that 
# have 7 characters or more:
new_fellowship = [member for member in fellowship if len(member) >= 7]

# Print the new list
print(new_fellowship)

# Ver 2
new_fellowship = [member if len(member) >= 7 else "" for member in fellowship]

# Print the new list
print(new_fellowship)

# Ver 3
new_fellowship = [member if len(member) >= 7 else None for member in fellowship]

# Print the new list
print(new_fellowship)

['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']
['samwise', 'aragorn', 'legolas', 'boromir']
['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']
[None, 'samwise', None, 'aragorn', 'legolas', 'boromir', None]

# Dict comprehensions

The main difference between a list comprehension and a dict comprehension is the use of curly braces {} instead of []. Additionally, members of the dictionary are created using a colon :, as in < key > : < value >; value is an int.

In [36]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create dict comprehension: new_fellowship
new_fellowship = {member: len(member) for member in fellowship}

# Print the new list
print(new_fellowship)

{'aragorn': 7, 'frodo': 5, 'samwise': 7, 'merry': 5, 'gimli': 5, 'boromir': 7, 'legolas': 7}

# Introduction to Generators

In [37]:
[2 * num for num in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

The above creates a list comprehension

In [39]:
(2 * num for num in range(10))

The above generatates a genator object

# List Comprehensions vs Generators

In [45]:
# List of strings
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# List comprehension
fellow1 = [member for member in fellowship if len(member) >= 7]

# Generator expression
fellow2 = (member for member in fellowship if len(member) >= 7)

In [46]:
type(fellow1)

list

In [47]:
type(fellow2)

generator

In [49]:
# Create generator object: result
result = (num for num in range(0,30))
# Alternative:
# result = (num for num in range(31))

# Print the first 5 values
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

# Print the rest of the values
for value in range(5,31):
    print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

# Changing the output in generator expressions

In [50]:
# Create a list of strings: lannister
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Create a generator object: lengths
lengths = (len(person) for person in lannister)

# Iterate over and print the values in lengths
for value in lengths:
    print(value)

6
5
5
6
7

# Build a Generator

In [54]:
# Create a list of strings
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Define generator function get_lengths
def get_lengths(input_list):
    """Generator function that yields the
    length of the strings in input_list."""

    # Yield the length of a string
    for person in input_list:
        yield(len(person))

# Print the values generated by get_lengths()
for value in get_lengths(lannister):
    print(value)

6
5
5
6
7

# List comprehensions for time-stamped data

You will now make use of what you've learned from this chapter to solve a simple data extraction problem. You will also be introduced to a data structure, the pandas Series, in this exercise. We won't elaborate on it much here, but what you should know is that it is a data structure that you will be working with a lot of times when analyzing data from pandas DataFrames. You can think of DataFrame columns as single-dimension arrays called Series.

In [ ]:
import pandas as pd

# Extract the created_at column from df: tweet_time
tweet_time = df['created_at']

# Extract the clock time: tweet_clock_time
# THIS IS WHAT THE DATA LOOKS LIKE:
# 0     Tue Mar 29 23:40:17 +0000 2016
# 1     Tue Mar 29 23:40:17 +0000 2016
# 2     Tue Mar 29 23:40:17 +0000 2016
# 3     Tue Mar 29 23:40:17 +0000 2016

tweet_clock_time = [entry[11:19] for entry in tweet_time]

# Print the extracted times
print(tweet_clock_time)

# THE ABOVE CODE WILL YIELD:
# ['23:40:17', '23:40:17', '23:40:17' ... '23:40:19', '23:40:19', '23:40:19']

# Conditional list comprehensions for time-stamped data

In [ ]:
# Extract the created_at column from df: tweet_time
tweet_time = df['created_at']

# Extract the clock time: tweet_clock_time
tweet_clock_time = [entry[11:19] for entry in tweet_time if entry[17:19] == '19']

# Print the extracted times
print(tweet_clock_time)

# ['23:40:19', '23:40:19', '23:40:19', ... , '23:40:19', '23:40:19', '23:40:19']